
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <title>Hello, world!</title>
  </head>
  <body>
    <!-- MENU BAR -->
  
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Welcome Admin</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/relogin">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/admin_review">Reviews</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">logout</a>
          </li>
        </ul>
      </div>
    </nav>


    <!-- columns in the customer table
    cus_name
    cus_no
    cus_email
    string_app_date
    doctor_name -->

    
<div class="container">
<div class="card-group " >
  
  <% for(var result of results) { %>
  <div class="col-lg-3">
    
    <div class="card border-dark mb-3 " style="max-width: 18rem;">

      <div class="card-header"><p> <b><%= result.cus_name %></b></p></div>

      <div class="card-body text-dark">
        <h5 class="card-title"><%= result.doctor_name %></h5>
        <p class="card-text"><%= result.cus_no %></p>
        <p class="card-text"><%= result.cus_email %></p>
        <p class="card-text"><%= result.string_app_date %></p>
        <!-- button not added  -->
        <!-- <a href="#" class="btn btn-primary">Button</a></Button></a> -->
      </div>

    </div>

    </div>
    <% }%>
  </div>
</div>




  
  </body>
</html>